In [1]:
import pandas as pd
import csv

In [18]:
# Reading original .csv
df = pd.read_csv('../WikiArtClean.csv')
df = df.drop(columns=['Image URL', 'Painting Info URL', 'Artist Info URL'])
# List of all columns
columns = list(df.columns)
# List of mood attributes
moods = columns[8:]

In [3]:
# Getting all different styles
styles = []

for index, row in df.iterrows():
    if row[0] not in styles:
        styles.append(row[0])

In [4]:
# Creating dataframes for each style

styleFrames = [];

for style in styles:
    newDf = df.loc[df['Style'] == style]
    styleFrames.append(newDf)

In [5]:
# CSVs for average ratings of each Artist per style

allAverages = []

for i in range(len(styles)):
    frame = styleFrames[i].groupby(['Artist']).mean()
    frame = frame.drop(columns=['Year'])
    fileName = styles[i] + '_ArtistAverages.csv'
#     frame.to_csv(fileName)

In [6]:
# CSV for average ratings for the style

styleEmotions = df.groupby(['Style']).mean()
# styleEmotions.to_csv('averageEmotionByStyle.csv')

In [7]:
# CSVs split by just styles

allStyles = []

for i in range(len(styles)):
    frame = styleFrames[i]
    fileName = styles[i] + '.csv'
#     frame.to_csv(fileName)

In [33]:
# Testing by title keyword thing
test = pd.read_csv('Renaissance Art.csv')
test = test[['Artist', 'Year', 'Title', 'Mean rating']]
test

,Artist,Year,Title,Mean rating
0,Robert Campin,1415,Triptych: The Two Thieves with the Empty Cross...,1.20
1,Masaccio,1422,St. Juvenal Triptych,1.06
2,Robert Campin,1424,Blessing Christ and Praying Virgin,1.60
3,Masaccio,1425,The Tribute Money,1.08
4,Masaccio,1426,St. Paul,1.45
...,...,...,...,...
282,Joachim Wtewael,1600,Martyrdom of St. Sebastian,1.70
283,Joachim Wtewael,1605,Kitchen Scene,0.80
284,Jan Provoost,1607,The Martyrdom of St. Catherine,1.60
285,Joachim Wtewael,1611,Perseus Rescuing Andromeda,1.83
286,Joachim Wtewael,1625,Adoration by the Shepherds,1.60

In [36]:
keywords = ['Christ', 'St.']

def withChrist(c):
    if any(key in c['Title'] for key in keywords):
        print(c['Title'])
        return 'yes'
    else:
        return 'no'


test['withChrist'] = test.apply(withChrist, axis=1)
test

St. Juvenal Triptych
Blessing Christ and Praying Virgin
St. Paul
St. Andrew
St. Christopher
St. Catherine and Mary Magdalene
The Stigmatization of St. Francis
St. John in the Desert
St. Eligius as a goldsmith showing a ring to the engaged couple
Baptism of Christ
St. Francis Giving Away His Clothes, Vision of the Church Militant and Triumphant
Isabella Of Portugal With St. Elizabeth
The Martyrdom of St. Stephen
Triptych of St. Sebastian
St. John Taking Leave of his Parents
The right wing of The Pearl of Brabant: Saint Christopher
St. George and the Dragon
Lamentation of Christ
Polyptych with St. Gregory
The Baptism of Christ
St. Sebastian and pieces of figure of St. Rocco and St. Peter
Madonna with Writing Child and St. Jerome
Christ Nailed to the Cross
Lamentation Over the Dead Christ
Transfiguration of Christ
The vision of St. Bernard
The Martyrdom of the Pilgrims and the Funeral of St. Ursula, from the St. Ursula Cycle, 1490-94
Dream of St.Ursula
Christ in Pieta
Peter II Duke of Bourbon presented by St. Peter, left hand wing of a triptych
Portrait of a Lady as St. Lucy
Holy Family with St. John the Baptist
Penitent&#160;St.&#160;Jerome
Altarpiece with The Martyrdom of St. Sebastian
Christ Crowned with Thorns
The Baptism of Christ
Miracle of St. Catherine
Beheading of St.&#160;Dorothea
Four Saints (from left St. Peter, St. Martha, St. Mary Magdalene, St. Leonard)
The Carmelites and King St. Louis in 1248
Flagellation of Christ
Resurrection of Christ
St. Jerome in Rocky Landscape
Landscape with St. Christopher
The Body of the Dead Christ in the Tomb
Madonna with St. Roch and St. Sebastian
St. John the Baptist
Frescoes in the Oratory Suardi in Trescore, scene of the blessing of St. Brigid of Kildare
Christ Carrying The Cross
Market with Christ and the Woman Taken in Adultery
Deeds of Christian Charity
Sir Christopher Hatton
Martyrdom of St. Sebastian
The Martyrdom of St. Catherine

,Artist,Year,Title,Mean rating,withChrist
0,Robert Campin,1415,Triptych: The Two Thieves with the Empty Cross...,1.20,no
1,Masaccio,1422,St. Juvenal Triptych,1.06,yes
2,Robert Campin,1424,Blessing Christ and Praying Virgin,1.60,yes
3,Masaccio,1425,The Tribute Money,1.08,no
4,Masaccio,1426,St. Paul,1.45,yes
...,...,...,...,...,...
282,Joachim Wtewael,1600,Martyrdom of St. Sebastian,1.70,yes
283,Joachim Wtewael,1605,Kitchen Scene,0.80,no
284,Jan Provoost,1607,The Martyrdom of St. Catherine,1.60,yes
285,Joachim Wtewael,1611,Perseus Rescuing Andromeda,1.83,no
286,Joachim Wtewael,1625,Adoration by the Shepherds,1.60,no